{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "extends": [
  "eslint:recommended",
    "standard",
    "prettier",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": ["@typescript-eslint"],
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "no-use-before-define": "off"
  },
  "ignorePatterns": ["dist", "node_modules", "examples", "scripts"]
}