{
    "extends": "@istanbuljs/nyc-config-typescript",
    "check-coverage": true,
    "all": true,
    "include": [
      "sdk/pre-authorized-debit-v1/src/**/!(*.test.*).[tj]s?(x)"
    ],
    "exclude": [
      "sdk/pre-authorized-debit-v1/tests/**/*.*"
    ],
    "reporter": [
      "json",
      "json-summary",
      "html",
      "lcov"
    ],
    "report-dir": "program-tests/pre-authorized-debit-v1/coverage",
    "lines": 0
}
